h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
    justify-content: center;
}

.container div {
    text-align: center;
    display: grid;
    align-items: center;
    border-style: solid;
    cursor: pointer;
    font-size: 4rem;
}

.container div:hover {
    background-color: beige;
    scale: 1.1;
    transition: 0.5s;
    z-index: 1;
}

.playerChoice:hover {
    background-color: green;
}

.playerChoice {
    background-color: green;
}
.computerChoice{
    background-color:blue;
}